.v-footer {
    background-color: #daebcc !important;
    flex: 0 !important;
    padding: 0 1rem !important;
    font-size: 0.75rem;
    color: #636363 !important;
}
.footer-copyright,
.footer-version {
    display: inline-flex;
    margin-right: 0.5rem;
}
.footer-version {
    background: #fff;
    padding: 0 0.8rem;
    border-radius: 10px;
}
.footer-contact {
    margin: 0 !important;
    padding: 0;
    height: auto !important;
    background: transparent !important;
    i {
        margin-right: 0.5rem;
    }
    &.v-btn {
        &:hover > {
            .v-btn__overlay {
                opacity: 0 !important;
            }
        }
    }
}
